.projectList {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 0.75rem;
  }

  td:last-child {
    text-align: right;
  }

  th {
    text-align: left;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.1);
    font-style: italic;
  }

  tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.03);
  }

  .deleteButton {
    background-color: var(--color-red-dark);
    border: 1px solid var(--color-red);
    color: var(--color-red);
    border-radius: 2px;
    cursor: pointer;
  }

  .deleteButton:hover {
    background-color: var(--color-red);
    border: 1px solid var(--color-red-dark);
    color: var(--color-red-dark);
  }
}
